<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Your Hidden Spot</h3>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Hidden Spot Name</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Spot name looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"
          >About this hidden location</label
        >
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        >
 <%= listing.description %> </textarea
        >
        <div class="invalid-feedback">
          Please enter a short travel description
        </div>
      </div>

      <div class="mb-3">
        Current Spot Photo
        <br />
        <img src="<%= originalImageUrl %>" alt="" height="500px"/>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Spot Photo</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Estimated Travel Cost</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid estimated cost
          </div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a Country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">City / Region</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter city or region</div>
      </div>

      <button class="btn edit-btn btn-dark mt-3 m-3">Update Spot</button>
    </form>
  </div>
</div>
